body{
    background-color: #cccccc;
    margin-top: 0;
    margin-bottom: 0;
    font-family:'Open Sans', sans-serif;
}
.container{
    width: 88%;
    margin: 0 auto;
    padding: 0 1%;
}
.heading{
    background-color: #272780;
    background-image: url("images/bg0.png");
    background-repeat: no-repeat;
    background-position: bottom left;
    width: 100%;
    height: 286px;

}
.heading img{
    display: block;
    margin: auto;
    width: 40%;
    padding-top: 5%;
}
.page-banner{
    background-image: url("images/banner.png");
    height: 757px;
}
.banner{
    background-image: url("images/bg1.png");
    background-repeat: no-repeat;
}
.banner .box{
    background-color: rgba(39, 39, 128, 0.8);
    height: 482px;
    color: white;
    width: 42%;
    margin: 0 auto;
    padding: 3% 4%;
    text-align: center;
}
.box h3{
    border-bottom: 2px solid #fff;
    padding:2%;
    font-size: 24px;
    font-weight: 500;

}
.box img{
    margin-top: 8%;
}
.box p{
    padding-top: 40px;
    font-size: 14pt;
}
.box p a{
    background-color: #5cb85c;
    color: white;
    padding: 10px 16px;
    border: 1px solid #5cb85c;
    border-radius: 6px;
    font-size: 18px;
    text-decoration: none;
}
.box p a:hover{
    background-color: #398439;

}
.banner-footer{
    height: 275px;
    background-image: url("images/bg3.png");
    background-repeat: no-repeat;

}


.introduction{
    background-color: #f05a28;
    height: 482px;
    background-image: url("images/bg4.png");
    background-repeat:no-repeat;
}
.introduction-title{
    width: 25%;
    text-align: center;
    float: left;
}
.introduction-title img{
    margin-top: 120px;
    width: 40px;
}
.introduction-text{
    width: 75%;
    float: left;
    color: #ffffff;
    line-height: 26pt;
}
.introduction-text p{
    padding: 100px 80px 100px 50px;
    font-size: 14pt;
    margin: 0;
}
.facilitator{
    height: 555px;
    background: white;
}
.facilitator-box{
    float: left;
    width: 25%;
}
.facilitator-heading{
    background-color: #272780;
    color: white;
    width: 220px;
    height: 288px;
    margin-left:20% ;

}
.facilitator-heading p{
    margin: 0;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    margin-bottom: 10px;
    padding-top: 100%;

}
.facilitator-profile{
    float: left;
    width: 25%;
}
.facilitator-profile img{
    width: 90%;
    height: auto;
    margin-top: 100px;
}
.facilitator-info{
    border-left: 3px solid #272780;
    position: relative;
}
.facilitator-decor{
    background-image: url("images/facilitator-decor.png");
    height: 46px;
    width: 46px;
    background-repeat: no-repeat;
    position: absolute;
    top:-35px;
}
.facilitator-info p{
    padding: 30px 20px 5px;
    color: #f05a28;
    font-size: 14pt;
}
.agenda{
    background-color: white;
    height: 550px;
}
.text-center{
    width: 50%;
    height: 100%;
    float: left;
    background-image: url("images/bg5.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    text-align: center;

}
.agenda-image{
    padding: 80px;
}
.agenda-image img{
     width: 90%;
 }

.text-right{
    width: 50%;
    float: left;
}
.text-right h3{
    color: #f05a28;
    font-size: 24px;
}
table{
    width: 90%;
    border-collapse: collapse;
}
table tr td{
    border: 1px solid #cccccc;
    color: #333;
    font-size: 14px;
    text-align: left;
    padding: 7px 10px;
}
table .table-heading{
    background-color: #cfe2f3;
    font-weight: bold;
}
table .first-col{
    width: 30%;
    text-align: right;
    padding: 3px 10px 3px;
}
.preparation-note h3{
    color: #f05a28;
    font-size: 18pt;
    font-style: italic;
    float: left;
    width: 20%;
}
.preparation-note p{
    font-size: 18pt;
    font-style: italic;
    float: left;
    width: 70%;
}
.interest{
    background: white;
    padding-top: 80px;
    height: 380px;
}
.interest-1{
    float: left;
    width: 50%;

}
.interest-2{
    float: right;
    width: 49.5%;

}
.interest img{
    width: 100%;
    max-height: 360px;
}
.audience{
    background-color: white;
    height: 500px;
}
.audience-content{
    width: 50%;
    float: left;
}
.audience-content h4{
    color: #f05a28;
    font-size: 18pt;
    padding: 0 50px;
    font-weight: bold;

}
.audience-content ul{
    padding:  0 70px;

}
.audience-content ul li{
    font-size: 16pt;
    line-height: 22pt;
}
.register{
    width: 100%;
    float: left;

}
.register p{
    margin: 0 auto;
    width: 15%;
    background-color: #5cb85c;
    color: white;
    padding: 10px 16px;
    border: 1px solid #5cb85c;
    border-radius: 6px;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
}
.register p:hover{
    background-color: #398439;

}
.footer{
    background-image: url("images/footer-background.png");
    height: 500px;
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 20px;
}